body {
    background-color: rgb(64, 0, 255);
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(255, 132, 0);
}

#p1 {
    font-family: Calibri;
    color: violet;
}

h2, h3 {
    font-family: cambria;
    font-size: 15px;
    color: red;
}

blockquote {
    font-family: Georgia;
    color: rgb(199, 234, 28);
    font-style: italic;
    text-align: justify;
}
.header {
  position: sticky;
  top: 0;
  height: 64px;
  backdrop-filter: blur(16px);
  background: rgba(30, 41, 59, 0.75);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}